<!DOCTYPE html>
<html class="h-full bg-gray-50" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title || 'AnnotateX' %></title>
  <link rel="stylesheet" href="/dist/css/output.css">
</head>
<body class="flex flex-col h-full">
  <%- include(content) %>
</body>
</html>
